
.section2 {
    @include container;
    @include column;
    &__title {
        @include item;
        @include column;
        @include policeTitle;
        text-align: center;
        padding-top: 5%;
        margin: auto;
        & h3 {
            font-size: 5rem;
        }
    }
    &__container--item {
        @include item; 
        padding: 5%;
        margin: auto;
    } 
    &__item {
        @include sous-item;
        @include column;
        max-width: 20%;
        margin: auto;
        &--img {
            @include sous-item;
            @include column;
        }
        &--txt {
            @include sous-item;
            @include column;
            @include policeTxt;
            text-align: center;
        }
        &--btn {
            @include sous-item;
            @include column;
            text-align: center;
        }
    }   
}
