@font-face {
  font-family: "3dumbregular";
  src: url("../../public/police/3Dumb/3Dumb-webfont.eot");
  src: url("../../public/police/3Dumb/3Dumb-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/police/3Dumb/3Dumb-webfont.woff") format("woff"), url("../../public/police/3Dumb/3Dumb-webfont.ttf") format("truetype"), url("../../public/police/3Dumb/3Dumb-webfont.svg#3dumbregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "2dumbregular";
  src: url("../../public/police/2Dumb/2Dumb-webfont.eot");
  src: url("../../public/police/2Dumb/2Dumb-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/police/2Dumb/2Dumb-webfont.woff") format("woff"), url("../../public/police/2Dumb/2Dumb-webfont.ttf") format("truetype"), url("../../public/police/2Dumb/2Dumb-webfont.svg#2dumbregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: none;
}
body a {
  cursor: none;
}

:root {
  --primary-color: rgb(17, 17, 17);
  --secondary-color: rgb(255, 255, 255);
  --third-color: rgba(83, 83, 83, 0.925);
  --menu-color: rgba(19, 19, 19, 0.925);
}

.darkmode {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(17, 17, 17);
  --third-color: rgba(129, 129, 129, 0.925);
  --menu-color: rgba(250, 250, 250, 0.925);
}

.ringcouleur {
  color: blue;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: var(--secondary-color);
}

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--secondary-color);
  background: var(--primary-color);
  border-radius: 100vw;
}

.bubbly-anim:before, .bubbly-anim:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-anim:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--secondary-color) 20%, transparent 30%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--secondary-color) 15%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-anim:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--secondary-color) 15%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%), radial-gradient(circle, var(--secondary-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-anim:active {
  transform: scale(0.9);
  box-shadow: 0 2px 25px var(--secondary-color);
}
.bubbly-anim.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-anim.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.hamburger {
  position: fixed;
  top: 0;
  display: block;
  width: 35px;
  margin: 1% 1%;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  z-index: 99;
}
.hamburger:hover {
  cursor: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.isActive:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.isActive .bar {
  opacity: 0;
}
.hamburger.isActive:after {
  transform: rotate(45deg) translate(-6px, -5px);
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  margin-top: 60%;
}

label {
  cursor: none;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--third-color);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
label:after {
  content: "";
  background: var(--secondary-color);
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -15%;
  width: 15%;
  min-height: 100vh;
  display: block;
  background-color: var(--menu-color);
  z-index: 98;
  padding-top: 120px;
  transition: 0.4s;
}
.nav__menu.isActive {
  left: 0;
}
.nav__menu a {
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  font-size: 1.7rem;
  display: block;
  text-align: center;
  margin: 20% 10% 1% 10%;
  padding: 3%;
  text-decoration: none;
  transition: 0.4s;
}
.nav__menu a:hover {
  border: 2px solid var(--secondary-color);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  font-size: 2.2rem;
}
.nav__menu a:nth-child(2):hover, .nav__menu a:nth-child(4):hover {
  border: 2px solid var(--secondary-color);
  border-radius: 0.8% 96% 0.9% 96%/96% 0.8% 93% 1.7%;
  transform: rotate(-2deg);
}

.section1 {
  padding: 0;
  margin: 0;
  display: flex;
}
.section1__id {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  border: 2px solid var(--secondary-color);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  margin: 10% 25% 20% 25%;
  text-align: center;
}
.section1__id h1 {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  font-size: 7rem;
  margin: 10% 0% 5% 0%;
  transform: rotate(-2deg);
}
.section1__id h2 {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: 10%;
  transform: rotate(-2deg);
}

.section2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.section2__title {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 3rem;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 5%;
  margin: auto;
}
.section2__title h3 {
  font-size: 5rem;
}
.section2__container--item {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 5%;
  margin: auto;
}
.section2__item {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 20%;
  margin: auto;
}
.section2__item--img {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.section2__item--txt {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  text-align: center;
}
.section2__item--btn {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
}

.section3 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 20% 25% 20%;
}
.section3__title {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 3rem;
  color: var(--secondary-color);
  text-align: center;
}
.section3__title h3 {
  font-size: 5rem;
}
.section3__item {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  text-align: center;
}
.section4 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 20% 10% 20%;
}
.section4__title {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 3%;
  text-align: center;
}
.section4__title h3 {
  font-size: 5rem;
}
.section4__formAndText {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 2px solid var(--secondary-color);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  padding: 4%;
  justify-content: center;
}
.section4__form {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
}
.section4__form--input {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 5%;
  margin-top: 7%;
  transform: rotate(-2deg);
}
.section4__form--input input, .section4__form--input textarea {
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  text-align: center;
  border: none;
  background-color: var(--primary-color);
}
.section4__form--input input:hover, .section4__form--input textarea:hover {
  cursor: none;
}
.section4__form--input textarea {
  resize: none;
}
.section4__form--btn {
  transform: rotate(-2deg);
  margin-top: 5%;
}
.section4__form--btn button {
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  font-size: 1.7rem;
  padding: 1% 5%;
  background-color: var(--primary-color);
  border: none;
  transition: 0.4s;
}
.section4__form--btn button:hover {
  border: 2px solid var(--secondary-color);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  font-size: 2.2rem;
  cursor: none;
}
.section4__txt {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  text-align: center;
  margin-left: 5%;
}
.section4__txt p {
  transform: rotate(-2deg);
}
.section4__social {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  transform: rotate(-2deg);
}
.section4__social a {
  margin: 0% 4% 0% 4%;
}
.section4__social img {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  transition: 0.3s;
}
.section4__social img:hover {
  width: 120%;
}

.footer {
  padding: 0;
  margin: 0;
  display: flex;
  border-top: 2px solid var(--secondary-color);
  border-radius: 5%;
  margin: 0% 4% 0% 4%;
}
.footer__legal {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "3dumbregular";
  font-size: 1.3rem;
  color: var(--secondary-color);
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
