
.submit--btn {
    @include policeTxt;
    font-size: 1.7rem;
    background: none;
    cursor: none;
    border: 0;
    box-sizing: border-box;
    margin: 10% 20% 5%;
    padding: 3% 1%;
    transform: rotate(-2deg);
    color: var(--third-color);
    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px var(--third-color);
    border-radius:0.8% 96% 0.9% 96%/96% 0.8% 93% 1.7%;
    &::before, &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }
    &:hover {
        color: var(--secondary-color);
        transition: 0.5s;
        cursor: none;
    }
    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        top: 0;
        left: 0;
    }
    &:hover::before, &:hover::after {
      width: 100%;
      height: 100%;
    }
    &:hover::before {
        border-top-color: var(--secondary-color);
        border-right-color: var(--secondary-color);
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;  
    }
    &:hover::after {
        border-bottom-color: var(--secondary-color);
        border-left-color: var(--secondary-color);
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
}